<div class="container" style="background: no-repeat top/100% url('https://www.zohowebstatic.com/sites/default/files/mail/manage-multiple-assests.png');">
    <div class="d-flex justify-content-between">
        <h1>Boite de reception</h1>
        <%= link_to emails_path(), remote: true, method: 'post' do%>
        <button class="btn btn-outline-success">Recevoir un email</button>
        <%end%>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-striped">
              <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Liste des emails</th>
                </tr>
            </thead>
            <tbody id="maillist" style="background-color: rgba(255, 255, 255, 0.9);" >
            <% @emails.order("id ASC").each do |email|%>
                <%= render 'email', email: email %>
            <%end%>
            </tbody>
            </table>
        </div>
        <div class="col-sm-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Email selectionné</th>
                    </tr>
                </thead>
                <tbody id="display" style="background-color: rgba(255, 255, 255, 0.9);">

                </tbody>
            </table>
        </div>
    </div>
</div>
