<div class='container'>
    <h4 id="e-title"><b>Objet : </b><%=Email.first.object%></h4>
    <p id="e-body"><%=Email.first.body%></p>
    <button class="btn btn-danger btn-small">Supprimer</button>
</div>